<div class="container-fluid">
    <div id='home'>
            <div id="con"> <h1>Mangez mieux.<br/> Simplement.</h1>
                <p id="cone"> La première application autour de l’expérience nutritionnelle<br/> adaptée aux modes de vie Afro-caribéen qui va vous aider à <br/> vos objectifs de santé et de poids</p><br />    
                <div style="height:10vh;"></div>
                <button class="btn btn-default" id="commence">COMMENCER</button>
              </div>
             <img src="assets/PHONE.jpg" id="phone" alt="">
   </div>
   <div style="height:6vh"></div>

   <h1 id="comp">Comment fonctionne l'application tektal ?</h1>
   <p id="pp">L'application tektal est une application tout en un centrée <br/> sur votre expérience nutritionnelle.</p><br/>
   <div class="card-group">
    <div class="card shadow-lg bg-white rounded" id="carde">
      <img class="card-img-top" id="img" src="assets/OBJECTIFS.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">définissez vos objectifs</h5>
      </div>
    </div>
    <div class="card shadow-lg bg-white rounded" id="imge">
      <img class="card-img-top" id="img" src="assets/MENSURATIONS.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Indiquez vos mensurations</h5>
        <p style='text-align: center;'>(poids,taille)<p>
    </div>
    </div>
    <div class="card shadow-lg bg-white rounded" id="imge">
      <img class="card-img-top" id="img"src="assets/IMC.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Obtenez votre indice <br/>de Masse Corporelle(IMC)</h5>
    </div>
    </div>
  </div><div style="height: 6vh;"></div>
  <div class="card-group">
    <div class="card shadow-lg bg-white rounded" id="carde">
      <img class="card-img-top" id="img" src="assets/PROGRAMME.jpg" alt="Card image cap">
      <div class="card-body">
        <h6 class="card-title">Choisissez parmi les programmes <br/>nutritionnels selon vos besoins </h6>
      </div>
    </div>
    <div class="card shadow-lg bg-white rounded" id="imge">
      <img class="card-img-top" id="img" src="assets/SPECIALISTE.jpg" alt="Card image cap">
      <div class="card-body">
        <h6 class="card-title">Faites vous suivre par un spécialiste <br/>en nutrition et diététique</h6>
      
    </div>
    </div>
   
  </div><div style="height: 6vh;"></div>

  <div class="card-group" id="srt">
    <div class="card shadow-lg rounded" id="groupe" >
        <div id="conn">
          <div class="row">
            <div class="col">
              <img class="card-img-top" id="imgg" src="assets/poir.jpg" alt="Card image cap">  
            </div>
            <div class="col">
              <b class="card-title" id="quel">Quel programme alimentaire ou régime est idéal pour vous ? nutritionnels selon vos besoins
                    <button class="btn btn-default" id="btn">FAITES LE TEST</button>
                </b>  
          </div>
          </div>
        </div>   
  </div>
  </div>
<div style="height: 6vh;"></div>
  <div class="card-group">
    <div class="card shadow-lg rounded" id="groupee">
<div class="row">
  <div class="col">
      <img src="assets/PROFESSIONNEL (1).jpg" id='altt' alt="">
  </div>
  <div class="col">
    <h2>Fonctionnalités</h2>
    <p>Subtile- Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti et excepturi nihil veritatis commodi rem saepe. Molestias quas minima, rerum suscipit eius quis odit fugiat animi, velit vitae est voluptatem.</p><br/>
    <h5><button class="btn btn-default" id="btn2">1</button> Se faire accompagner</h5><br/>
    <h5><button class="btn btn-default" id="btn3">2</button> Trouver des inspirations recettes</h5><br/>
    <h5><button class="btn btn-default" id="btn2">3</button> Acheter des produits frais</h5><br/>
    <h5><button class="btn btn-default" id="btn2">4</button> Participer à des ateliers</h5><br/>
    <h5><button class="btn btn-default" id="btn2">5</button> Suivre son activité physique+coach</h5><br/>
    <button class="btn btn-default" id="btn1">COMMENCER</button>
  </div>
</div>
    </div>

  </div>
  <div style="height: 6vh;"></div>
  <div class="row">
    <div class="col">
       <div class="card-group">
        <h2>Trouvez l'inspiration recettes</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis sunt ab est hic vel distinctio nobis asperiores sint, quis debitis libero veritatis consectetur voluptatem autem? Aperiam voluptatum deserunt dolorem harum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quo culpa ea officiis, labore, soluta ipsum corporis deleniti aspernatur placeat dolorum vel maiores sit esse facilis asperiores aperiam quia. Quibusdam! </p>
      <a href="#" id="aa"><b>Commencer</b> <img src="assets/fleche.jpg" alt=""></a>
      </div>
    </div>
    <div class="col">
      <div class="card-group">
        <img src="assets/PROFESSIONNEL (2).jpg" id="jgpp" alt="">
      </div>
   </div>
  </div>
  <div style="height: 6vh;"></div>
  <div class="row">
    <div class="col">
      <div class="card-group">
        <img src="assets/PROFESSIONNEL (5).jpg"  alt="">
      </div>
   </div>
   <div class="col">
    <div class="card-group"id="achat">
      <h2 >Achetez des aliments frais </h2>
     <p>Lorem ipsum dolor, sit amet consectetur adipisicing <br/>elit. Perferendis sunt ab est hic vel distinctio nobis<br/> asperiores sint, quis debitis libero veritatis consectetur<br/> voluptatem autem? Aperiam voluptatum deserunt dolo <br/>harum Lorem ipsum dolor sit amet consectetur adipisi<br/> elit. Provident quo culpa ea officiis, labore, soluta ipsum  <br/> </p>
   
   </div>
 </div>
  </div>
  <div style="height: 6vh;"></div>
  <div class="row">
    <div class="col">
       <div class="card-group">
        <h2>Suivi alimentaire + coach</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis sunt ab est hic vel distinctio nobis asperiores sint, quis debitis libero veritatis consectetur voluptatem autem? Aperiam voluptatum deserunt dolorem harum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quo culpa ea officiis, labore, soluta ipsum corporis deleniti aspernatur placeat dolorum vel maiores sit esse facilis asperiores aperiam quia. Quibusdam! </p>
      <a href="#" id="aa"><b>Commencer</b> <img src="assets/fleche.jpg" alt=""></a>
      </div>
    </div>
    <div class="col">
      <div class="card-group">
        <img src="assets/capt.jpg" id="jgpp" alt="">
      </div>
   </div>
  </div>
  <div style="height: 6vh;"></div>
  <div class="row" id="grouppe">
    <div class="col">
        <img src="assets/OBJETS_CONNECTES.jpg" id="bone" alt="">
    </div>
    <div class="col" >
        <h2>Envie d'aller plus loin</h2>
        <p> Chez Tektal, notre vision est de marier la technologie et la nutrition pour vous proposer un accompagnement à 360°.Commandez des montres, balances connectés et autres accessoires pour suivre vos progressions.</p>
        <button class="btn btn-default" id="btn1">PRÉ-COMMANDE </button>
    </div>
  </div>
  <div style="height: 6vh;"></div>
  <div class="row" id="groupppe">
   <h2 id="tel">Téléchargez notre application et rejoignez la communauté <b>Tektal.</b><br/>Disponible sur</h2>
   <div class="col">
    <a href=""><img src="assets/APP_STORE (2).png" id="store" alt=""></a>
   </div> 
    <div class="col">
      <a href="" id="ps"><img src="assets/APP_STORE (1).png" id="store1" alt=""></a>  
    </div>
 </div>
</div>
