<head>
	<title>Footer Design</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" href="css/style.css"> -->
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="footer-col">
					<img src="assets/tek.jpg" class="imgg">
					<!-- <ul>
						<li><a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque laborum ea distinctio,</a></li>
					</ul> -->
				</div>
				<div class="footer-col">
					<h4>FONCTIONNALITÉS</h4>
					<h4>BLOG</h4>
					<!-- <ul>
						<li><a href="#">Conditions générales d'utilisation</a></li>
						<li><a href="#">Politique de confidentialité</a></li>
					</ul> -->
				</div>
				<!-- <div class="footer-col">
					<h4>Rejoignez-nous</h4>
					<ul>
						<li><button class='new' type="button">S'inscrire à la Newsletter</button></li>
					</ul>
				</div> -->
				<div class="footer-col" id="cool">
					<h4>Suivez-nous</h4>
					<!-- <div class="social-links">
						<a href="#"><i class="fab fa-facebook-f"></i></a>
						<a href="#"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
						<a href="#"><i class="fab fa-linkedin-in"></i></a>
					</div> -->
				</div>
			</div>
		</div>
		<br />
		<hr style="color: white;">
		<br/>
		<p style="color: white;" id="tek"> &copy;Tektal 2020</p>
	</footer>